<!-- <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
    <img src="../../assets/images/logo_small.png"/>
    PuffsDashboard
  </a
  >
  <button
    class="navbar-toggler position-absolute d-md-none collapsed"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu"
    aria-controls="sidebarMenu"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" (click)="logOut()">Sign out</a>
    </div>
  </div>
</header> -->

<header class="navbar-dark sticky-top bg-dark shadow">
  <div class="desktop-navbar navbar flex-md-nowrap p-0">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
      <img src="../../assets/images/logo_small.png"/>
      PuffsDashboard
    </a>
  
    <div class="navbar-nav">
      <div class="nav-item text-nowrap nav-logout">
        <a class="nav-link px-3" (click)="logOut()">Sign out</a>
      </div>
      <button 
        class="navbar-toggler navbar-toggler-right d-md-none collapsed m-2"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        [attr.aria-expanded]="!isNavbarCollapsed"
        aria-label="Toggle navigation"
        (click)="isNavbarCollapsed = !isNavbarCollapsed"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="mobile-navbar navbar-nav d-md-none">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" (click)="logOut()">Sign out</a>
    </div>
  </div>
</header>
<app-navbar [ngbCollapse]="!isNavbarCollapsed"></app-navbar>
